/* Write your CSS here */
.body-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

.nav-container {
  background-color: #e2e8f0;
  padding: 20px;
  min-width: 30%;
}

.nav-heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #475569;
}

.list-container {
  list-style-type: none;
  padding-left: 20px;
}

.list-item {
  color: #475569;
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 2;
  font-weight: 500;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.box {
  border: 1px solid #64748b;
  width: 45%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.content-container {
  background-color: #f1f5f9;
  padding: 20px;
  min-width: 35%;
  flex-grow: 1;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  color: #475569;
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 2;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .body-container {
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
  }

  .box-container {
    flex-direction: column;
    margin: 0;
  }

  .box {
    width: 50%;
  }

  .content-container {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}
