/* Write your CSS here */
.footer-bg {
  text-align: center;
  padding: 30px 0;
  background-color: #cbd5e1;
  margin-top: 20px;
}

.footer-heading {
  font-family: 'Roboto';
  color: #475569;
  font-size: 40px;
}